*{
  margin:0;
  padding:0;
}


/* Navbar */
.inner-cover{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbar-default {
  float: none;
  display: inline-block;
  background-color: white;
  color: #212121;
  opacity: 0.9;
  border: none;
  padding-top: 1.5em;
  font-size: 1.1em;
  margin-bottom: 0;
  border-radius: 0;
  /*position: absolute;*/
  /*width: 100%;*/
  z-index: 9999;
  /*position: fixed;*/
  /*margin-left: -16px;*/
}

.container-fluid{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar-default .navbar-nav li a{
  color: #212121;
  font-family: 'Lato', sans-serif;
}

li{
  font-size: 18px;
}
/* Hero Section */
.inner-cover{
  background-image: url("./images/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}

.inner-cover .images{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -60px;
}

.image {
  padding-top: 20.5em;
}



/* About Section */
#about-section{
  font-family: 'Lato', sans-serif;
  color: #212121;
  padding-bottom: 80px;
}

#about-section .insta-handle{
  font-size: 20px;
}
#about .col-md-12{
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.7px;
}

#about .defined{
  padding-bottom: 10px;
}

#about-section .noun{
  padding-bottom: 30px;
}

.instagram{
  padding-top: 30px;
  text-align: center;
}

.instagram p{
  font-size: 17px;
}

.insta-handle{
  padding-bottom: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
}


/* Locations Section */
.locations{
  margin-bottom: 60px;
}
.locations h1{
  text-align: center;
  padding-bottom: 20px;
  margin-top: 60px;
}

#search{
  text-align: center;
}
/*.locations #search {
  text-align: center;
  height: 50vh;
}*/

/*.locations{
  margin-bottom: 80px;
}*/

#cookie-locator{
  background-color: #212121;
  background-image: url('./images/checkerboard.png');
  width: auto%;
  margin-left: -500px;
  margin-right: -500px;
  padding-left: 380px;
  padding-right: 380px;
  padding-top: 10px;
  height: 8vh;
  padding-bottom: 40px;
}

#cookie-locator{
  margin-bottom: 40px;
}

#cookie-locator h1, a{
  color: #212121;
  font-size: 17px;
  line-height: 2;
}


/* Menu */
.border{
  background-image: url('./images/checkerboard.png');
}

.menu .row{
  text-align: center;
}

.menu h1{
  font-size: 20px;
}

.menu img{
  background-size: contain;
  padding-bottom: 80px;
  width: 90%;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
}

.off img{
  background-size: contain;
  width: 70%;
  opacity: 0.9;
  display: inline-block;
  position: relative;
}

.off{
  display: none;
}
/*.menu:hover .on{
  display: none;
}

.container:hover .off{
  display: block;
}*/


/* Catering Section */
.catering-image img{
margin-top: -25px;
  padding-bottom: 80px;
  border-radius: 25px;
  padding: 20px;
  /*width: 330px;
  height: 300px;*/
}
.row, .catering-info{
  text-align: center;
}
#catering h1{
  color: #212121;
  font-size: 30px;
  line-height: 2;
  padding-bottom: 40px;
}
#catering li{
  text-align: justify;
}
#catering span{
  float: left;
  margin-left: -20px;
  font-size: 17px;
}



/*Media Styles*/
@media screen and (max-width: 767px) {
  .navbar-default {
    padding-top: 10px;
    display: block;
    font-size: 15px;
  }

  #myNavbar ul li a {
    color: #1b0000;
     display:inline-block;
     margin:0 0 0 0px;
     padding:10px 10px;
  }
  .inner-cover img {
    width: 90%;
    margin-top: 190px;
  }
  .inner-cover{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 55vh;
    position: relative;
    background-size: contain;
  }

  .images .image {
    margin-top: -115px;
    width: 80%;
  }
}
