*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Bitter', serif;
}
/* Navbar */

.navbar-default {
  background-color: transparent;
  border: none;
  padding-top: 2em;
  font-size: 1.3em;
  font-family: 'Source Code Pro', monospace;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  position: absolute;
  width: 100%;
  z-index: 9999;
}


#myNavbar ul{
 clear:left;
 float:left;
 list-style:none;
 margin:0;
 padding:0;
 position:relative;
 left:50%;
 text-align:center;
}
#myNavbar ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#myNavbar ul li a {
  color: #1b0000;
   display:block;
   margin:0 0 0 10px;
   padding:10px 20px;
   text-decoration:none;
}

.navbar-toggle{
  background-color: #efefef;
  text-align: center;
}

.nav{
  color: yellow;
}
/* Hero Section */

.inner-cover {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100vh;
  position: relative;
  background-image: url("./images/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
}
.image {
  padding-top: 19.5em;
}

/* About Section */
.container{
  padding-bottom: 5em;
}
.about{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1em;
  height: 50vh;
  width: 100px;
}
.about h1{
  padding-bottom: 10px;
}


span{
  color: black;
  font-weight: 200;
  font-style: italic;
  font-family: 'Source Code Pro', monospace;
  background-color: yellow;
}

.quote{
  padding-top: 20px;
}
.about-text{
  margin-left: 480px;
  margin-right: 480px;
}

.about p{
  font-size: 17px;
  font-family: 'Source Code Pro', monospace;
}
.quote{
  padding-bottom: 20px;
}

.container, #about-section{
  width: auto;
}
.about, .insta{
  height: inherit;
  padding-top: 10px;
}




/* Responsive Styles */
@media screen and (max-width: 767px) {
  .navbar-default {
    padding-top: 10px;
    display: block;
    font-size: 15px;
  }

  #myNavbar ul li a {
    color: #1b0000;
     display:inline-block;
     margin:0 0 0 0px;
     padding:10px 10px;
  }
  .inner-cover img {
    width: 90%;
    margin-top: 190px;
  }
  .inner-cover {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 70vh;
    position: relative;
    background-size: contain;
    /*background-image: url("/images/cookies.jpg");*/
    background-image: url("./images/hero.jpeg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .image {
    padding-top: 2.5em;
  }
}
